
        html {
            color: #555;
            word-wrap: break-word;
        }

        body {
            background: gray;
            -webkit-font-smoothing: antialiased;
        }

        {
            margin: 0;
            padding: 0;
            border: 0;
        }

        {
            display: block;
        }

        {
            box-sizing: border-box;
        }

        .ejtrmf-button {
            border: 0;
            background: transparent;
            cursor: pointer;
        }
        
        .flex-container {
            padding: 10px;
            border-top: 3px solid gray;
            background: gray;
        }

        .flex-item {
            padding: 10px;
            border: 3px solid rgb(50,50,40);
            color: white;
            background: mediumaquamarine;
            justify-content: space-between;
        }

        .flex-container2 {
            padding: 10px;
            background: white;
        }

     
    
